@tailwind base;
@tailwind components;
@tailwind utilities;

.cust-underline {
  position: relative;
  display: inline-block;
}

.cust-underline::after {
  content: '';
  position: absolute;
  left: 25%;
  bottom: -7px;
  width: 50%;
  height: 3px;
  background-color: rgb(59 130 246);
}

.btn-point::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #e8674b;
  top: 2px;
  right: -5px;
  transform: translateY(-50%);
}

.scrollbar-hidden {
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; 
}